.header{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(219,7,7);
    background: radial-gradient(circle, rgba(219,7,7,1) 0%, rgba(101,24,21,1) 100%);
}

.font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.link{
    font-size: 1.5em;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}